@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #bc4123;
  --secondary: #dbdad7;
}

body {
  margin: 0;
  font-family: "Poppins";
  background: var(--secondary);
}

* {
  margin: 0;
}
main {
  padding: 0;
  margin: 0;
}
p.error {
  font-size: 15px;
  color: red;
}
